.navbar {
  background-color: #b7d0d2;
  border-bottom: none;
  color: #25362a;
}

.content {
  margin: 30px 0px;
}

.footer {
  position: fixed;
  padding-left: 20px;
  bottom: 0;
  left: 0;
  z-index: -1;
}
