.intro-text-container {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  padding: 0px;
}

.intro-text-large {
  display: flex;
  max-width: 1200px;
}

.intro-text-small {
  display: flex;
  flex-direction: column-reverse;
}

.image {
  border-radius: 2px;
}

.info-texts {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info-text {
  display: flex;
  gap: 10px;
}

.info-text-reverse {
  flex-direction: row-reverse;
}

.info-text-small {
  display: flex;
  flex-direction: column;
}

.info-text-content {
  padding: 0px 10px;
}

.info-text-image {
  max-width: 500px;
  border-radius: 3px;
}

.info-text-image-small {
  width: 100%;
}
