.contact-info-card {
  width: calc(100% - 20px);
}

.contact-info {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contact-info-small {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info-item {
  text-align: center;
}
