.notFound {
  margin-top: 30px;
  text-align: center;
}

.introTextContainer {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  padding: 0px;
}

.introTextLarge {
  display: flex;
  max-width: 1200px;
  margin-right: 10px;
}

.introTextSmall {
  display: flex;
  flex-direction: column-reverse;
}

.contactIntroText {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.contentCoverImage {
  z-index: -1;
  border-radius: 2px;
  margin-left: -40px;
  margin-top: -30px;
  width: fit-content;
}

.contentCoverImageSmall {
  z-index: -1;
  border-radius: 2px;
  margin-bottom: -30px;
  width: fit-content;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.contactInfoCard {
  margin: 50px 10px;
  width: 100%;
  max-width: 900px;
  padding: 20px;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  height: fit-content;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.contactInfoSmall {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contactInfoItem {
  text-align: center;
}

.card {
  margin: 0px 10px;
  max-width: 900px;
  padding: 20px;
  border: none;
  box-shadow: none;
  border-radius: 2px;
  height: fit-content;
}

.backgroundDiv {
  z-index: -1;
}
