.news-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.news-loader {
  margin: auto;
}

.news-title {
  margin: 0px 10px;
}

.news-item-with-img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.news-item-with-img-reverse {
  flex-direction: row-reverse;
}

.news-item-with-img-small {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.news-item-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.news-item-text-small {
  padding: 0px 10px;
}

.news-item-message {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-item-actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 25px;
}

.news-item-actions-reverse {
  flex-direction: row;
  gap: 15px;
}

.news-preview-image {
  width: 100%;
  max-width: 400px;
}

.newsitem-dialog {
  background-color: #fff4eb;
  overflow: auto;
  padding: 20px;
}

.newsitem-dialog-actions {
  background-color: #fff4eb;
  display: flex;
  justify-content: right;
  padding: 20px;
  gap: 25px;
}

.more-news-button {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.news-item {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.news-content {
  padding: 0px 10px;
}

.news-image {
  width: 100%;
  max-width: 600px;
}
